.shadow {
  box-shadow: 2px 1px 2px #999999; /* Цвет и размер тени */
}

.border_radius {
  border-radius: 2px;  /* Скругление углов изображения */
  border: 2px solid #fff; /* Цвет и ширину рамки */
}


.image_badge {

    margin: 5px;
    border-radius: 50%;
    filter:grayscale(20%);
}


.div_badge_vertical {

  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;

}


.text_under_badge {
  color: #022c02;
  font-size: x-large;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.div_badge_with_text {
  border-radius: 15px;
  box-shadow: 2px 1px 5px #999999; /* Цвет и размер тени */
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0 0 5px #999;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;


}

.text_in_badge {
  color: #f1f9f1;
  font-size: xx-large;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


