.image_badge {

    border-radius: 50%;
    filter:grayscale(20%);
}

.align_center{

  justify-content:center;
  align-items: center;

}

.text_larger {
  font-size: larger;
  font-weight: 600;
  margin-top: 10px;
}



