.dialog_backdrop {

  background-color: #759E7A; 
  
}


 .text_style_black {

    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

 }

 
.text_style_white {

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;

}

 .space_between {

  display: flex;
  justify-content: space-between;

 }

 .align_center {

  display: flex;
  justify-content: center;
  align-items: center;

 }

 .gap {

  gap: 8px;

 }

 .minus_layout {

  min-height: 50px;
  min-width: 200px;
  gap: 10px;
  opacity: 1;
  padding-right: 8px;
  padding-left: 8px;

  border-radius: 15px;
  border-width: 2px;
  border: 2px solid #D9E3DA;

 }

.plus_layout {

  min-height: 50px;
  min-width: 200px;
  gap: 10px;
  opacity: 1;

  border-radius: 15px;
  border-width: 2px;
  background: #D9E3DA;
  border-color: #D9E3DA;

 }
 
.number_layout {

  min-height: 50px;
  min-width: 200px;
  gap: 10px;
  opacity: 1;

  border-radius: 15px;
  background: #D9E3DA;
  border: 2px solid #1C492B;

 }

.button_layout {

  min-height: 50px;
  min-width: 700px;
  gap: 10px;
  opacity: 1;

  border-radius: 15px;
  background: #1C492B;
  border: 2px solid #1C492B;

 }

 .visible {
  display: block;
 }

 .hidden {
  display: none;

 }




 