 .text_style_black {

    font-family: Inter;
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

 }

 
.text_style_white {

  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF;

}

 .align_center {

  display: flex;
  justify-content: center;
  align-items: center;

 }

 .minus_layout {

  min-height: 50px;
  min-width: 200px;
  opacity: 1;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 15px;
  border-width: 2px;
  border: 2px solid #D9E3DA;

 }

.plus_layout {

  min-height: 50px;
  min-width: 200px;
  opacity: 1;
  border-radius: 15px;
  border-width: 2px;
  background: #D9E3DA;
  border-color: #D9E3DA;

 }
 
.number_layout {

  min-height: 50px;
  min-width: 200px;
  opacity: 1;
  border-radius: 15px;
  background: #D9E3DA;
  border: 2px solid #1C492B;

 }

.button_layout {

  min-height: 50px;
  min-width: 720px;
  opacity: 1;
  border-radius: 15px;
  background: #1C492B;
  border: 2px solid #1C492B;

 }

 .button_layout_secondary {

  min-height: auto;
  min-width: auto;
  width: fit-content;
  height: fit-content;
  opacity: 1;

  border-radius: 20px;
  background: #D9E3DA;
  border: 2px solid #1C492B;

 }

 .result-container {
  min-width: 80px; 
  min-height: 50px; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
}

 .visible {
  opacity: 1;
 }

 .hidden {
  opacity: 0;
  pointer-events: none;
}

 .margin_10{
  margin: 10px;
 }




 