.inventory_panel_size {

    width: 360px;
    height: 785px;
    padding: 28px;
    gap: 30px;
  
  }
  
  
.image_size {

    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.margin_20 {

    margin-right: 20px;

}


.text_background {

    background-color: #FFFFFF1F;
    border-radius: 15px;
    padding:2px;
    margin: 5px;
    width: fit-content;

}

.inactive_picture {

    opacity: 30%;
}