.dice_image {

  width: 227px;
  height: 250px;
  border-radius: 15px;
  cursor:pointer;
}


.dialog_backdrop {

  background-color: #759E7A; /* Полупрозрачный черный */
  border-color: #ffffff;
  border-width: 2px;

}

  .border_radius {
    border-radius: 10px;
  }

  dialog {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);

    max-width: 50%;
    border-color: #0C2C1D;
    z-index: 1000;
}

/* Затемнение фона (backdrop) */
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}