.div_stat {

    padding-right: 10px;
    display: flex;
    align-items:flex-start;
    align-items:center;
}


.image_stat {
    border: 2px solid #fff; /* Цвет и ширину рамки */
    box-shadow: 2px 1px 2px #999999; /* Цвет и размер тени */
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    filter: hue-rotate(90deg);
  }


  .size_title_box {

    width: 280px;
    height: 60px;
    max-width: 300px;
    gap: 12px;

  }

  .size_value_box {

    width: 100px;
    max-width: 140px;
    gap: 6px;


  }




 .stat_text {

    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    

 }

 .bonus_text {

    font-family: Inter;
    font-weight: 800;
    font-style: italic;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1C492B;
    
 }