.div_stat {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}


.text_align{
    text-align:left;
  }


.text_stat_info
{
    font-size: larger;

}

.text_stat_value
{
    font-size: larger;
    margin-left: 5px;
}

.image_stat {
    border: 2px solid #fff; /* Цвет и ширину рамки */
    box-shadow: 2px 1px 2px #999999; /* Цвет и размер тени */
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    filter: hue-rotate(90deg);
  }