.margin {
    margin: 10px !important;
}

.color_red {

    color: darkred;
}

.stat_text {


    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    

}