.image_size {

    height: 100px !important;
    width: 100px !important;
    margin-right: 10px !important;

}

.textarea_size {

    height: 300px !important;
    width: 500px !important;
    font-size:large !important;

}