.main_panel {

    border-radius: 15px;  /* Скругление углов изображения */
    
  }

.main_panel_size {

  max-width: 1700px;
  max-height: 864px;
  gap: 40px;

}

  .main_div_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
  }
  
  .main_div_vertical{
    display: flex;
    flex-direction: column;

  }

  .main_space_between {

    justify-content:space-between;
  }

  .main_text_info
{
    font-weight: 400;
    font-size: 14px;
    color: #759E7A;  
    font-family: 'Times New Roman', Times, serif;

}

.main_text_bonus
{
    font-style:italic;
    font-weight: 700;
    color:rgb(91, 131, 11);
    font-size:x-large;
    margin-left: 15px;
    text-align:right;
    font-family: Inter;
}

.main_text_value
{
    font-style:italic;
    font-weight: 400;
    color:#FFFFFF;
    font-size: 18px;
    font-family: Inter;
}

.main_portrait_image {

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 342px;
  height: fit-content;
  font-family: Inter;

}

.portrait_text_above_image {

  
    font-family: Inter;
    position: absolute;
    top: 330px;
    left: 140px;
    width: 100%;
    font-weight: 700;
    font-size: 28px;


}

.level_text_above_image {

  
  position: absolute;
  top: 30px;
  left: 40px;
  width: 100%;
  font-weight: 800;
  font-size: 16px;
  font-family: Inter;


}

.dice_image {

  width: 227px;
  height: 250px;
  border-radius: 15px;
}

.main_background {
  background-color: #0C2C1D;
}

.secondary_background {

  background-color: #ffffff;
}

.main_padding {
  padding: 28px;
}

.main_margin {

  margin: 28px;
}

.main_margin_top {

  margin-top: 28px;
}
.main_divider {

    border-right: 2px solid #FFFFFF33;
    height: fit-content;
    width: 1px;

}